footer {
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: flex-end;
  z-index: 10;
}

footer ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer_links_end {
  width: 0.2rem;
  height: 15vh;
  background-color: var(--color_text);
}

.footer_links a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  transition: all 0.3s ease 0s;
}

.footer_links i {
  color: inherit;
  font-size: 1.6rem;
}

.footer_links a:hover {
  color: var(--color2);
  transform: translate(5px, 0) rotate(5deg);
}

@media (max-width: 850px) {
  footer {
    bottom: -100vh;
    transition: bottom 0.4s ease-in-out;
  }

  footer.open {
    bottom: -0;
  }
}
