/* ================================================ article */
#games article {
  margin-top: 5rem;
}

/* ================================================ links */
.game__links {
  display: flex;
  justify-content: space-around;
}

.game__link {
  display: block;
  margin: 1rem;
  margin-left: 0;
  width: fit-content;
  font-size: 1.5rem;
  transition: all 0.4s ease-in-out;
}

.game__link::before {
  content: ">> ";
}

.game__link:hover {
  color: var(--color_accent);
}

/* ================================================ SwiperJS */
/* https://swiperjs.com/swiper-api */
.swiper {
  max-width: 100%;
  max-height: 80vh;
}

.swiper img {
  width: 100%;
  max-height: 80vh;
  margin: auto;
  object-fit: contain;
  object-position: center;
}

.swiper-button-prev,
.swiper-button-next {
  color: var(--color_text) !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--color_text) !important;
}
