/* === start === */
#landing p {
  margin: 0;
}

#landing h1 {
  text-align: center;
}

#landing h3 {
  text-align: end;
}

@media (max-width: 850px) {
  #landing p {
    text-align: center;
  }

  #landing h1 {
    font-size: 3rem;
  }

  #landing h3 {
    text-align: center;
  }
}
