@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap");

:root {
  /*
  RUST GOLD 8 PALETTE by Trigo Mathmancer
  https://lospec.com/palette-list/rust-gold-8
  */
  --color1: #f6cd26;
  --color2: #ac6b26;
  --color3: #563226;
  --color4: #331c17;
  --color5: #bb7f57;
  --color6: #725956;
  --color7: #393939;
  --color8: #202020;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--color1);
  text-decoration: none;
  list-style: none;
  font-family: "Kanit", sans-serif;
  font-size: 20px;
}

body {
  background-color: var(--color7);
  display: grid;
}

/* ============================
nav
============================ */
nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  background-color: var(--color8);
  border-bottom: 0.2rem solid var(--color1);
  height: fit-content;
}

.nav_links li {
  display: inline-block;
  width: 10rem;
}

.nav_links a {
  display: block;
  padding: 1rem 1.2rem;
  transition: all 0.3s ease 0s;
  text-transform: uppercase;
}

.nav_links li a:hover {
  color: var(--color2);
  font-size: 0.95rem;
}

/* ============================
main
============================ */
main {
  justify-self: center;
  background-color: var(--color7);
  width: 100%;
  max-width: 1024px;
  scroll-snap-type: y mandatory;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 1.5rem;
  text-decoration: underline;
}

h3 {
  font-size: 1.5rem;
}

.content_box {
  scroll-snap-align: start;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content_box p {
  padding: 0.5rem 0;
}

/* === start === */
.start p {
  padding: 0;
}

/* === about === */
.about_list {
  padding-top: 0.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
}

.about_list li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f121";
  display: inline-block;
  padding-right: 0.6rem;
  vertical-align: middle;
  font-weight: 900;
}

/* ============================
footer
============================ */
footer {
  position: fixed;
  bottom: 0;
  height: 100vh;

  display: flex;
  align-items: flex-end;
}

footer ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer_links_end {
  width: 0.2rem;
  height: 15vh;
  background-color: var(--color1);
}

.footer_links a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
}

.footer_links i {
  transition: all 0.3s ease 0s;
  font-size: 1.6rem;
}

.footer_links i:hover {
  color: var(--color2);
}
