.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: var(--nav_height_big);
  padding: 0 30px;

  background-color: var(--color_bacbkground_dark);
  border-bottom: var(--nav_border) solid var(--color_text);

  display: flex;
  justify-content: space-between;
  align-items: center;
  transform-style: preserve-3d;
  z-index: 5;

  @media screen and (max-width: 850px) {
    height: var(--nav_height_small);
  }
}
