footer {
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: flex-end;
  z-index: 10;

  transition: bottom 0.4s ease-in-out;
}

.footer__links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__links a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

footer svg {
  fill: var(--color_text);
  width: 30px;
  aspect-ratio: 1;
  transition: all 0.3s ease 0s;
}

.footer__bottom-line {
  width: 5px;
  height: 15vh;
  background-color: var(--color_text);
}

.footer__links a:hover {
  svg {
    transform: translate(5px, 0) rotate(5deg);
  }
}

@media (max-width: 850px) {
  footer {
    bottom: -100vh;
  }

  footer.active {
    bottom: -0;
  }
}
